.header{
    color: blue;
    text-align: center;
}
.merge {
    float: left;
    width: 50%;
}
.rebase,.merge {
    float: right;
    width: 50%;
}
.container:after {
    content: "";
    display: table;
    clear: both;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
    text-align: justify;
    width: 50%;
  }